$main-color = rgba(184, 42, 13,0.8)
$sub-color = #FFF3B7
$sub2-color = rgba(255, 231, 140, 0.56)
$btn-text-color = #ffffff
$title-color = #66ccff
$hover-color = rgba(0, 0 , 0, 0.5)
$active-color = rgba(0, 0, 0, 0.5)